@model IEnumerable<Model.Person>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Results</title>


    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <style>
        span.skill {
            background: #cccccc;
            margin: 5px;
            border-radius: 3px;
            padding-right: 5px;
            padding-left: 5px;
            line-height: 1.9;
            display: inline-block;
        }
    </style>
</head>
<body>
    <table id="results" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Skills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Competitions)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => person.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => person.age)
                    </td>
                    <td>
                        @foreach (var skill in person.Skills)
                        {
                            <span class="skill">
                                @skill.Name
                            </span>
                        }
                    </td>   
                    <td>
                        Competitions:
                        @foreach (var comp in person.Competitions.OrderBy(comp => comp.Year))
                        {
                            <div class="comp">
                                @comp.Name (@comp.Year)
                            </div>
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <script src="./../bootstrap_files/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" ></script>
    <script>
        $(document).ready(function(){
            $('#results').DataTable();
        });
    </script>
</body>
</html>
